      <!-- Render body_header -->
      <%= render "shared/body_header" %>

      <div class="panel-heading">
        <h1 class="text-center">Codaisseurify-II</h1>
      </div>

      <div class="panel-body">

        <div class="col-md-12 text-center">
          Ready for a whole new Spotify?
          <%= link_to "Meet our Artists", artists_path, class: "btn btn-default" %>
        </div>
      </div>

      <!-- Render body_footer -->
      <%= render "shared/body_footer" %>
